// Themes: https://quarto.org/docs/output-formats/html-themes.html
// Settings: https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/*-- scss:defaults --*/

$callout-color-note: #Fddde6;
$callout-color-tip: #Ffd1dc;
$callout-color-caution: #Ffbcd9;
$callout-color-warning: #E6c7c2;
$callout-color-important: #F7bfbe;

/*-- scss:rules --*/
