# Ignore general files and directories
.Rhistory
.RData
.Ruserdata
.Rproj
.Rproj.user
.DS_Store
!2025-ngs-cn-summer-school.Rproj
/.quarto/
/workbooks/cache/
/workbooks/*_files/
/workbooks/*html
/workbooks/*rmarkdown
/scripts/rstudio_summer_school_errors.txt
/scripts/rstudio_summer_school_login.txt
/datasets/visiumhd_mouse_brain/
