# Ignore general files and directories
.Rhistory
.RData
.Ruserdata
.Rproj
.Rproj.user
.DS_Store
!2025-ngs-cn-summer-school.Rproj
*.sif

/.quarto/
/workbooks/cache/
/workbooks/*_files/
/workbooks/*html
/workbooks/*rmarkdown
/scripts/rstudio_summer_school_errors.txt
/scripts/rstudio_summer_school_login.txt
/datasets/visiumhd_mouse_brain/
/datasets/RCTD.Rds
/datasets/allen_scRNAseq_ref.Rds
/datasets/cortex_coordinates.csv
/datasets/exported_bin_metadata.csv
/datasets/exported_umap.csv
rstudio_summer_school_errors.txt
rstudio_summer_school_login.txt
